.loading-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.error-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.error-icon {
    font-size: 100px;
    color: red;
    margin-bottom: 15px;
}

.info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.status-icon {
    font-weight: 600;
    font-size: 24px;
}