.gauge-container {
    border: 1px solid #ccc;
    height: 40vw;
    max-height: 20vh;
    position: relative;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
}

.line-container {
    max-height: 40vh;
    height: 80vw;
    width: 100%;
}

.loading-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.error-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.error-icon {
    font-size: 100px;
    color: red;
    margin-bottom: 15px;
}

.info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.status-icon {
    font-weight: 600;
    font-size: 24px;
}