node_modules
.next
.swc
.env
.husky
.gitignore
.DS_Store
docker-compose*
Dockerfile*
.dockerignore
.github
.git
.vscode
.devcontainer
.editorconfig
__tests__
config
examples
helm
images
test_results
coverage
scripts
README.md
CONTRIBUTING.md
CODE_OF_CONDUCT.md
npm-debug.log
crowdin.yml
jest.config.js
jest.setup.js
playwright.config.js
