name: build

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'
      - 'helm/**'
  pull_request:
    types: [opened, synchronize, reopened]
    paths-ignore:
      - 'README.md'
      - 'helm/**'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        # with:
        #   fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis

      - uses: pnpm/action-setup@v4
        with:
          version: latest

      - uses: actions/setup-node@v6.1.0
        with:
          node-version: 24
          cache: 'pnpm'

      - uses: actions/cache@v4
        name: Setup nextjs cache
        with:
          path: ${{ github.workspace }}/.next/cache
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/pnpm-lock.yaml') }}-${{ hashFiles('**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx') }}
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/pnpm-lock.yaml') }}-

      - uses: actions/cache@v4
        name: Setup eslint cache
        with:
          path: .eslintcache
          key: ${{ runner.os }}-eslint-${{ hashFiles('**/pnpm-lock.yaml') }}-${{ hashFiles('**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx', 'eslint.config.mjs') }}
          restore-keys: |
            ${{ runner.os }}-eslint-${{ hashFiles('**/pnpm-lock.yaml') }}-

      - uses: actions/cache@v4
        name: Setup prettier cache
        with:
          path: node_modules/.cache/prettier
          key: ${{ runner.os }}-prettier-${{ hashFiles('**/pnpm-lock.yaml') }}-${{ hashFiles('**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx', '**/*.json', '**/*.css', '**/*.md', '.prettierrc.json') }}
          restore-keys: |
            ${{ runner.os }}-prettier-${{ hashFiles('**/pnpm-lock.yaml') }}-

      - name: Install dependencies
        run: pnpm i --frozen-lockfile

      - name: Get installed Playwright version
        id: playwright-version
        run: echo "version=$(pnpm why --json @playwright/test | jq --raw-output '.[0].devDependencies["@playwright/test"].version')" >> $GITHUB_OUTPUT

      - name: Cache Playwright
        uses: actions/cache@v4
        id: playwright-cache
        with:
          path: '~/.cache/ms-playwright'
          key: '${{ runner.os }}-playwright-${{ steps.playwright-version.outputs.version }}'
          restore-keys: |
            ${{ runner.os }}-playwright-

      - name: Install Playwright with dependencies
        if: steps.playwright-cache.outputs.cache-hit != 'true'
        run: npx playwright install --with-deps

      - name: Install Playwright's dependencies
        if: steps.playwright-cache.outputs.cache-hit == 'true'
        run: npx playwright install-deps

      - name: Lint and type check
        timeout-minutes: 5
        run: npm run fullcheck
        env:
          NEXT_TELEMETRY_DISABLED: 1

      - name: Run tests
        timeout-minutes: 10
        run: |
          export AUTH_SECRET=$(npx --yes auth secret)
          npm run test:all
        env:
          USERNAME: admin
          PASSWORD: nut_test
          NUT_HOST: localhost
          NUT_PORT: 3493
          WEB_PORT: 8080
          NEXT_TELEMETRY_DISABLED: 1

      - name: Build production
        timeout-minutes: 5
        run: npm run build
        env:
          NEXT_TELEMETRY_DISABLED: 1
